.carouselContainer {
  position: relative;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.navButton:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.navLeft {
  left: -15px;
}

.navRight {
  right: -15px;
}

.swiper {
  padding: 0 40px;
  overflow: hidden; /* ensures hidden slides are not visible */
  box-sizing: border-box;
}

:global(.swiper-slide) {
  width: auto !important;
  box-sizing: border-box;
}
